html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

#password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

#password-container input {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#password-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#app-container {
    display: flex;
    height: 100%;
}

#controls {
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    z-index: 2;
    background-color: white;
}

#map {
    flex-grow: 1;
    height: 100%;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
    #app-container {
        flex-direction: column;
    }

    #controls {
        width: 100%;
        height: 30vh; /* 30% of the viewport height */
        box-sizing: border-box; /* Include padding in the width/height */
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    #map {
        height: 70vh; /* 70% of the viewport height */
    }
}

h1 {
    margin-top: 0;
}

#address-form {
    display: flex;
    margin-bottom: 10px;
}

#address-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

#add-address-btn {
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

#travel-mode-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

#travel-mode-container label {
    cursor: pointer;
    padding: 5px;
}

#stops-list {
    list-style: upper-alpha;
    padding-left: 20px;
}

#stops-list li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-group button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#calculate-btn {
    background-color: #4CAF50; /* Green */
}

#clear-btn {
    background-color: #f44336; /* Red */
}

.button-group button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#total-duration, #total-distance {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#total-distance {
    margin-top: 10px; /* A bit less margin than the one above */
    font-size: 1.1em;
    font-weight: normal;
}
